td{
  border: 2px solid black;
  padding: 20px;
}
table{
  border-collapse: collapse;
  margin: auto;
}
td{
  background-color: rgb(197, 148, 83);
  height: 50px;
 
}
#d12,#d14,#d16,#d18,#d21,#d23,#d25,#d27,#d32,#d34,#d36,#d38,#d41,#d43,#d45,#d47,#d52,#d54,#d56,#d58,#d61,#d63,#d65,#d67,#d72,#d74,#d76,#d78,#d81,#d83,#d85,#d87{
  background-color: rgb(1, 79, 1);
 
}